# IDE-specific files
.idea/
.vscode/

# Environment variables
# Ignore all .env files, but keep the examples
.env
.env.*
!.env.example

# Production environment files
.env.prod

# macOS specific files
.DS_Store

# Temporary files
*~
*.swp

# Virtual environments
venv/
env/
.venv/
