# Base configuration for production
services:
  backend:
    build:
      context: ./backend
    # In production, the backend is not exposed directly.
    # A reverse proxy (like Nginx) would talk to it on port 8000.
    expose:
      - 8000
    env_file:
      - ./backend/.env.prod
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000

  frontend:
    build:
      context: ./frontend/web_app
      # For production, the final nginx stage is built by default
    ports:
      - "80:80" # Expose on standard HTTP port
    depends_on:
      - backend

volumes:
  # This volume is only used in development, but needs to be defined here.
  node_modules:
