services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    profiles:
      - develop
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend/web_app
      # For development, we only want to build the 'build' stage from our Dockerfile.
      # This stage has Node.js and npm installed.
      target: build
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/web_app/.env
    profiles:
      - develop
    volumes:
      - ./frontend/web_app:/app
      # This named volume prevents the node_modules directory in the container
      # from being overwritten by the host's empty directory on startup.
      - node_modules:/app/node_modules
    # We still need to specify the command to run the dev server.
    command: npm run dev
    depends_on:
      - backend

# Define the named volume for node_modules
volumes:
  node_modules:
